<mat-card
    class="trinta-card account-settings-card mb-25 bg-white border-none d-block"
>
    <mat-card-header>
        <mat-card-title>
            <h5 class="mt-0 mb-0">
                Paramètres Compte
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="settingsForm" (ngSubmit)="onSave()">
            <div class="row">
                <div class="col-lg-6">
                    <label class="label d-block fw-medium mb-10">
                        Nom
                    </label>
                    <mat-form-field>
                        <i-feather name="user"></i-feather>
                        <mat-label>Entrer votre nom</mat-label>
                        <input matInput formControlName="lastname">
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <label class="label d-block fw-medium mb-10">
                        Prénom
                    </label>
                    <mat-form-field>
                        <i-feather name="user"></i-feather>
                        <mat-label>Entrer votre prénom</mat-label>
                        <input matInput formControlName="firstname">
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <label class="label d-block fw-medium mb-10">
                        Email
                    </label>
                    <mat-form-field>
                        <i-feather name="mail"></i-feather>
                        <mat-label>Entrer votre email</mat-label>
                        <input matInput formControlName="email">
                        <mat-error *ngIf="settingsForm.get('email')?.hasError('email')">
                            Adresse email invalide
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <label class="label d-block fw-medium mb-10">
                        Langue
                    </label>
                    <mat-form-field>
                        <i-feather name="globe"></i-feather>
                        <mat-label>Choisissez votre langue</mat-label>
                        <mat-select formControlName="langue">
                            <mat-option value="fr">Français</mat-option>
                            <mat-option value="en">English</mat-option>
                            <mat-option value="es">Español</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-12">
                    <label class="label d-block fw-medium mb-10">
                        Informations Complémentaires
                    </label>
                    <div class="NgxEditor__Wrapper">
                        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
                        <ngx-editor [editor]="editor" [ngModel]="html" name="html" [ngModelOptions]="{standalone: true}" [disabled]="false" [placeholder]="'Entrer votre commentaire ici...'"></ngx-editor>
                    </div>
                </div>
            </div>
            <div *ngIf="successMessage" class="alert alert-success mt-10">{{ successMessage }}</div>
            <div *ngIf="errorMessage" class="alert alert-danger mt-10">{{ errorMessage }}</div>
            <div class="save-profile-btn">
                <button mat-button type="button" (click)="onCancel()">
                    Annuler
                </button>
                <button mat-button type="submit">
                    Mettre à jour
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>