<mat-card-header>
    <mat-card-title>
        <h5 class="mt-0 mb-0">
            Filtre
        </h5>
    </mat-card-title>
</mat-card-header>
<mat-card-content>
    <form>
        <div class="filters-top row">
            <div class="col-sm-6 col-lg-2/5">
                <mat-form-field>
                    <mat-label>
                        <i class="material-symbols-outlined">
                            stacks
                        </i>
                        Catégories
                    </mat-label>
                    <mat-select multiple>
                        <mat-option value="1">
                            Furniture
                        </mat-option>
                        <mat-option value="2">
                            Bicycle
                        </mat-option>
                        <mat-option value="3">
                            Shoe
                        </mat-option>
                        <mat-option value="4">
                            Bag
                        </mat-option>
                        <mat-option value="5">
                            Fashion
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-6 col-lg-2/5">
                <mat-form-field>
                    <mat-label>
                        <i class="material-symbols-outlined">
                            monetization_on
                        </i>
                        Prix
                    </mat-label>
                    <mat-select>
                        <mat-option value="1">
                            $0 - $100
                        </mat-option>
                        <mat-option value="2">
                            $101 - $200
                        </mat-option>
                        <mat-option value="3">
                            $201 - $300
                        </mat-option>
                        <mat-option value="4">
                            $301 - $400
                        </mat-option>
                        <mat-option value="5">
                            $401 - $500
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-6 col-lg-2/5">
                <mat-form-field>
                    <mat-label>
                        <i class="material-symbols-outlined">
                            equalizer
                        </i>
                        Notes
                    </mat-label>
                    <mat-select>
                        <mat-option value="1">
                            5 Etoiles
                        </mat-option>
                        <mat-option value="2">
                            4 Etoiles
                        </mat-option>
                        <mat-option value="3">
                            3 Etoiles
                        </mat-option>
                        <mat-option value="4">
                            2 Etoiles
                        </mat-option>
                        <mat-option value="5">
                            1 Etoile
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-6 col-lg-2/5">
                <mat-form-field>
                    <mat-label>
                        <i class="material-symbols-outlined">
                            category
                        </i>
                        Marques
                    </mat-label>
                    <mat-select multiple>
                        <mat-option value="1">
                            Amazon
                        </mat-option>
                        <mat-option value="2">
                            Walmart
                        </mat-option>
                        <mat-option value="3">
                            Nike
                        </mat-option>
                        <mat-option value="4">
                            Vans
                        </mat-option>
                        <mat-option value="5">
                            Chanel
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-12 col-lg-2/5">
                <mat-form-field>
                    <mat-label>
                        <i class="material-symbols-outlined">
                            percent
                        </i>
                        Réductions
                    </mat-label>
                    <mat-select>
                        <mat-option value="1">
                            10%
                        </mat-option>
                        <mat-option value="2">
                            15%
                        </mat-option>
                        <mat-option value="3">
                            20%
                        </mat-option>
                        <mat-option value="4">
                            25%
                        </mat-option>
                        <mat-option value="5">
                            30%
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="filters-bottom d-md-flex align-items-center justify-content-between">
            <div class="selected-filters d-lg-flex align-items-center">
                <ul class="p-0 mb-0 mt-0">
                    <li class="d-inline-block position-relative fw-medium text-primary">
                        Furniture
                        <button type="button" class="p-0 bg-transparent border-none cursor-pointer">
                            <i class="ri-close-fill"></i>
                        </button>
                    </li>
                    <li class="d-inline-block position-relative fw-medium text-primary">
                        T-Shirt
                        <button type="button" class="p-0 bg-transparent border-none cursor-pointer">
                            <i class="ri-close-fill"></i>
                        </button>
                    </li>
                    <li class="d-inline-block position-relative fw-medium text-primary">
                        $100
                        <button type="button" class="p-0 bg-transparent border-none cursor-pointer">
                            <i class="ri-close-fill"></i>
                        </button>
                    </li>
                    <li class="d-inline-block position-relative fw-medium text-primary">
                        20% Off
                        <button type="button" class="p-0 bg-transparent border-none cursor-pointer">
                            <i class="ri-close-fill"></i>
                        </button>
                    </li>
                    <li class="d-inline-block position-relative fw-medium text-primary">
                        Color
                        <button type="button" class="p-0 bg-transparent border-none cursor-pointer">
                            <i class="ri-close-fill"></i>
                        </button>
                    </li>
                </ul>
                <button mat-button type="button">
                    Initialiser
                </button>
            </div>
            <div class="search-btn">
                <button mat-button type="button">
                    Recherche
                </button>
            </div>
        </div>
    </form>
</mat-card-content>
<mat-card
    class="trinta-card products-list-card mb-25 bg-white border-none d-block"
>
    <mat-card-header>
        <mat-card-title>
            <h5 class="mt-0 mb-0">
                Articles
            </h5>
        </mat-card-title>
        <mat-card-subtitle>
            <a routerLink="/ecommerce-page/create-product" class="default-btn" mat-button>
                <i class="ri-add-line"></i> Ajouter
            </a>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="products-list-table">
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource">

                    <!-- Product Column -->
                    <ng-container matColumnDef="product">
                        <th mat-header-cell *matHeaderCellDef class="pl-0">
                            Articles
                        </th>
                        <td mat-cell *matCellDef="let element" class="pl-0">
                            <div class="product-info d-flex align-items-center">
                                <a routerLink="/ecommerce-page/product-details" class="image d-block">
                                    <img [src]="element.product.img" alt="product-image">
                                </a>
                                <div class="info">
                                    <a routerLink="/ecommerce-page/product-details" class="d-block fw-semibold">
                                        {{element.product.title}}
                                    </a>
                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <!-- Category Column -->
                    <ng-container matColumnDef="category">
                        <th mat-header-cell *matHeaderCellDef>
                            Catégories
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-primary">
                            {{element.category}}
                        </td>
                    </ng-container>

                    <!-- Price Column -->
                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef>
                            Prix
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.price}}
                        </td>
                    </ng-container>

                    <!-- Ratings Column -->
                    <ng-container matColumnDef="ratings">
                        <th mat-header-cell *matHeaderCellDef>
                            Notes
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="ratings lh-1">
                                @for (content of element.ratings.star; track content) {
                                    <i class="{{content.star}}"></i>
                                }
                                <span class="lh-1 text-body">
                                    ({{element.ratings.totalRatings}})
                                </span>
                            </div>
                        </td>
                    </ng-container>

                    <!-- Stock Column -->
                    <ng-container matColumnDef="stock">
                        <th mat-header-cell *matHeaderCellDef>
                            Quantités
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.stock}}
                        </td>
                    </ng-container>

                    <!-- Total Orders Column -->
                    <ng-container matColumnDef="totalOrders">
                        <th mat-header-cell *matHeaderCellDef>
                            Commandes
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.totalOrders}}
                        </td>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef class="text-end pr-0">
                            Actions
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-end pr-0">
                            <div class="action">
                                <button type="button" mat-button class="p-0 min-w-auto lh-1 h-auto">
                                    <i class="{{element.action.view}}"></i>
                                </button>
                                <button type="button" mat-button class="p-0 min-w-auto lh-1 h-auto">
                                    <i class="{{element.action.edit}}"></i>
                                </button>
                                <button type="button" mat-button class="p-0 min-w-auto lh-1 h-auto">
                                    <i class="{{element.action.delete}}"></i>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
            </div>
            <mat-paginator [pageSizeOptions]="[10, 20, 30]"></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>